{% extends 'layout.twig' %}

{% block title %}Cached Content{% endblock %}

{% block content %}
<p>I am a cached object.</p>

<p>Varnish should serve me for 30 seconds.</p>

<p>I was generated at {{ timestamp }}</p>

<br />
{% endblock %}

