<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{% endblock %} - varnish.tembies.com</title>
		{% endblock %}
	</head>
	<body>
	<div id="content">{% block content %}{% endblock %}</div>
	<div id="footer">
		{% if headers %}
			<h3>Headers</h3>
			{{ dump(headers) }}
		{% endif %}
	</div>
	</body>
</html>
